<p>writers works!</p>
<button (click)="get()"></button>

@if(Writers){
    @for(writer of Writers;track writer.id)
    {
        <p>{{writer.name}}</p>
    } 
    <table mat-table [dataSource]="dataSource">
        @for(column of columns; track column){
            <ng-container matColumnDef="{{column}}">
          <mat-header-cell *matHeaderCellDef="{{column}}">{{column}}</mat-header-cell>
          <mat-cell *matCellDef="{{column}}">{{writer[column]}}</mat-cell>
        </ng-container>
      
        <ng-container matHeaderRowDef *matHeaderRowDef="'header'">
          <mat-header-cell *matHeaderCellDef="{{column}}" for="{{column}}" [align]="column === 'id' ? 'center' : 'left'">{{column}}</mat-header-cell>
        </ng-container>
    
        <mat-row *matRowDef="let row; columns as displayedColumns"></mat-row>
    }
      </table>
      }