<mat-card style="width: 30vw; margin-left: 35vw; margin-top: 20vh; display: flex; align-items: center;" [formGroup]="loginForm">
<p>
    <mat-form-field appearance="fill"  style="width: 25vw;" >
        <mat-label>User ID</mat-label>
        <input matInput placeholder="User ID" formControlName="id">
    </mat-form-field>
</p>

<button mat-flat-button style="background-color: #d69191; color: white; margin-bottom: 2vh;"
type="submit" [disabled]="!loginForm.valid" (click)=navigate()
>Login</button>
</mat-card>
@if(spiner){
    <mat-spinner style="margin: auto;"></mat-spinner>
  }